NMA_BASE_URL=https://adder.nma.test:8443
NMA_SECRET_KEY=@SESSION_SECRET@
NMA_TOKEN_ENCRYPTION_KEY=@FERNET_KEY@
NMA_TIDAL_SESSION_FILE=/state/tidal-session.json

NMA_PROXY_AUTH_ENABLED=true
NMA_PROXY_AUTH_USER_HEADER=Remote-User
NMA_PROXY_AUTH_GROUPS_HEADER=Remote-Groups
NMA_PROXY_AUTH_TRUSTED_SOURCES=10.89.91.2/32
NMA_AUTHELIA_USERS_GROUP=users
NMA_AUTHELIA_ADMIN_GROUP=admins

NMA_NAVIDROME_URL=http://navidrome:4533
NMA_NAVIDROME_USER_HEADER=Remote-User
NMA_TIDARR_URL=http://tidarr:8484
NMA_TIDARR_API_KEY_FILE=/tidarr-shared/.tidarr-api-key

NMA_MUSIC_PATH=
NMA_WORKER_INTERVAL_SECONDS=5
NMA_NAVIDROME_INDEX_TIMEOUT_SECONDS=300
