[Unit]
Description=NMA local Authelia
After=nma-local-network.service
Wants=nma-local-network.service
PartOf=nma-local.target

[Service]
Restart=on-failure

[Container]
ContainerName=nma-local-authelia
Image=docker.io/authelia/authelia:latest
Network=nma-local.network
NetworkAlias=authelia
IP=10.89.91.3
Volume=@PROJECT_DIR@/deploy/local-podman-quadlets/authelia:/config:ro,Z
Volume=@PROJECT_DIR@/.local-dev/authelia/data:/data:Z,U
Environment=TZ=Europe/Berlin

[Install]
WantedBy=default.target
