[Unit]
Description=NMA local application
After=nma-local-network.service nma-local-authelia.service nma-local-navidrome.service nma-local-tidarr.service
Wants=nma-local-network.service nma-local-authelia.service nma-local-navidrome.service nma-local-tidarr.service
PartOf=nma-local.target

[Service]
Restart=on-failure

[Container]
ContainerName=nma-local-adder
Image=nma-local-adder.build
Network=nma-local.network
NetworkAlias=music-adder
IP=10.89.91.6
EnvironmentFile=@PROJECT_DIR@/.local-dev/adder/app.env
Volume=nma-local-adder-state.volume:/state:Z,U
Volume=@PROJECT_DIR@/.local-dev/tidarr/shared:/tidarr-shared:ro,z

[Install]
WantedBy=default.target
