[Unit]
Description=NMA local Tidarr music downloader
After=nma-local-network.service
Wants=nma-local-network.service
PartOf=nma-local.target

[Service]
Restart=on-failure

[Container]
ContainerName=nma-local-tidarr
Image=docker.io/cstaelen/tidarr:latest
Network=nma-local.network
NetworkAlias=tidarr
IP=10.89.91.5
Volume=@PROJECT_DIR@/.local-dev/tidarr/shared:/shared:z
Volume=@PROJECT_DIR@/.local-dev/music:/music:rw,z
Environment=TZ=Europe/Berlin
Environment=UMASK=0022
Environment=ENABLE_BEETS=false
Environment=ENABLE_HISTORY=true

[Install]
WantedBy=default.target
